h1 {
    color: magenta;
    font-size: 350%;
    font-family: monospace;
}
h2 {color: Brown;
font-size: 250%;
font-family: monospace;
text-indent: 35px;
margin indent: 1px

}
p {color: Brown;
font-size: 150%;
font-family: monospace;
text-indent: 1px;
margin indent: 1px;
}
